---
---

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0 10px 0;
  font-family: var(--heading);
  font-weight: var(--semi-bold);
  text-align: left;
  letter-spacing: 0px;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: none;
  text-align: left;
  letter-spacing: 0px;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  color: #8893ae
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

:where(h1, h2, h3, h4, h5, h6) > .icon {
  margin-right: 1em;
  color: var(--light-gray);
}
