---
layout: default
---

<h1>{{ page.name | default: page.title  }}</h1>

{%- include member-photo.html image=page.image -%}


<p class="center">
  <h4 style="text-align: center;">{%- include role.html type=page.role text=true description=page.description -%}</h4>
</p>



<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}
  {% endfor %}
</div>

{{ content }}

{%- assign aliases = "" | split: ',' -%}

{%- if page.aliases.first -%}
  {%- assign aliases = aliases | concat: page.aliases -%}
{%- elsif page.aliases -%}
  {%- assign aliases = aliases | push: page.aliases -%}
{%- elsif page.name -%}
  {%- assign aliases = aliases | push: page.name -%}
{%- elsif page.title -%}
  {%- assign aliases = aliases | push: page.title -%}
{%- endif -%}

{%- assign search = aliases | join: '" "' | prepend: '"' | append: '"' | prepend: "/publications/?search=" -%}

{%- capture text -%}
  See {{ page.name | default: page.title }}'s papers on the Publications page
{%- endcapture -%}

